<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644394627702-89b2ngrga3b0iu61uqdhqelf50jgqe4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644394627702-89b2ngrga3b0iu61uqdhqelf50jgqe4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDJYS8ZXtzsPpnSWDk0AWUNrzBHg8EwcyM</string>
	<key>GCM_SENDER_ID</key>
	<string>644394627702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-3da54</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-3da54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644394627702:ios:90528a1c9492b1f39c2557</string>
</dict>
</plist>